.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1em;  

  .item {
    border: 1px solid #333533;
    padding: 10px;

    &:hover {
      color: #ffee32;
      border: 1px solid #ffee32;
    }

    &:active {
      color: white;
      text-shadow: 1px 1px 2px #ffee32;
    }
  }
}